body {
    font-size: 12px;
    font-family: Proxima-Nova-Regular, Arial, Sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.for-who-cannot-afford-baidu-music-vip {
    position: absolute;
    left: -16px;
}

.rate {
    padding: 2px;
}

.generate-download-buttons {
    display: block;
    width: 220px;
    height: 30px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #29C08C;
    text-align: center;
    color: white;
    border: none;
    outline: none;
    font-size: 14px;
    cursor: pointer;
}

.generate-download-buttons:hover {
    background-color: #25A076;
}
